<mat-toolbar style="position: fixed; z-index: 1;" color="primary">
    <span style="font-weight: bolder; font-family: 'Noto Sans JP'!important;">{{header}}</span>
    <span style="flex: 1 1 auto"></span>
    <button routerLink="home" mat-button><mat-icon>home</mat-icon>&nbsp;Home</button>
    <button routerLink="profile" mat-button><mat-icon>person</mat-icon>&nbsp;Profile</button>
    <button routerLink="contact" mat-button><mat-icon>recent_actors</mat-icon>&nbsp;Contact</button>
</mat-toolbar>
<router-outlet></router-outlet>